AnchorPane {
    -fx-background-color: aliceblue;
}

TextField {
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

TextField:focused {
    -fx-border-color: #827ffe;
}

Button {
    -fx-background-color: #827ffe;
    -fx-font-family: Serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: pointer;
}

Button:hover {
    -fx-background-color: #403866;
}